  .menu{
      background: transparent;
      padding: 10px 0px;
      display: flex;
      float: right;
      flex-direction: column;
      cursor: pointer;
      position: fixed;
      margin-top:13px ;
      right:8%; 
     

      
  }
  /*@media screen and (min-width:960px){
      .menu{
          display:none;
      }
      .menu-bar{
          display: none;
      }
  }*/
  @media screen and (max-width:768px){
      
      .menu-bar{
         margin-right: 0px;
      }
  }
 
  .menu-bar{ 
      align-items: center;
      height: 5px;
      width: 25px;
      margin-top: 3px;
      z-index: 1000;
      font-size: 20px;
      margin-right:3px;
      background-color: white;
  }
  
   @media screen and (min-width:1200px){
       .menu{
     display: none;
       }
   }

  