.author-image{
    width:30%;
    height: 80vh;
    margin-left: 30px;
    border: 2px grey solid;
    box-sizing: border-box;
    margin-bottom: 150px;
    margin-top:100px;
    margin-right:20px;
   
}

.author-info{
    width: 50%;
    background-color: gray;
    float:right;
    height:80vh;
    margin-bottom:100px;
    margin-top:100px;
    margin-left: 50px;
    display: flex;
    justify-content: space-evenly;
    padding:20px 25px;
    font-size: 20px;
    color:lightyellow;
    
}
p{
 text-justify: newspaper; 
 border: 4px solid white;
 border-radius: 15px; 
 padding:10px 10px;
 margin:10px;
 
}
.home{
    display: flex;
}
@media screen and (max-width:1000px){
.home{
    display: flex;
    flex-direction: column;
}
.author-image{
    width:80%;
}
.author-info{
    width: 80%;
    justify-self: center;
    align-self: center;
    margin-right: 20px;
    left: -20%;
    padding: 0px 15px;
    margin-right: 45px;
    border-radius: 6px;
    margin-top:12px;
     
    
}
p{
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 400px;
    width: 80%;
    margin-left: 0;
    margin-right: 5px;
}
}