
.navbar{
  display: flex;
  background-color:#03506f;
  padding:0px 10px;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  height: 80px;
  position: sticky;
  overflow-x: visible;
}



.nav-link-item{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 2px 20px;
       
}
.nav-links{
    display: flex;
    justify-content: space-around;
    list-style: none;  
    width:70%;
}

 .owner-name{
     color: white;
     margin-top:8px;
     position: relative;
     font-size: 27px;
     float: left;
     padding:0px 10px;
     width:30%;
 }
  .owner-name >h1>span{
      color:#ED553B;
      font-size: 50px;
      text-transform: uppercase;
      
  }
  
.nav-link{
    color:white;
    text-decoration: none;
    z-index: 2000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.nav-link:hover{
    border-bottom: 4px solid gainsboro;
    transition:  all ease-in-out 0.5s;
}

/* Mobile display of navigation links */
/*.mobile-nav-links{ 
   display: none;

    }*/

@media screen and (min-width:1200px){
.closeIcon{
    display: none;
}
}


   
@media screen and (max-width:768px){
    .nav-links{
        display:none;
    }
    .owner-name{
        font-size: 15px;
        display: inline-flex;
        position: fixed;
        margin-left:5%;
        float: left;
    }
     
}
@media screen and (max-width:300px){
    .nav-links{
        display:none;
    }
    .owner-name{
        font-size: 15px;
        display: inline-flex;
        justify-content: flex-start;
        justify-self: start;
        float: left;
        
    }
    
    .closeIcon{
       display:visible;
       color:white;
       position: fixed;
       margin-right: 3rem;
       padding: 2rem 2rem;
       float:right;
       right:10%;
       
   }
}


@media screen and (max-width:960px){
    .nav-links{
        display:none;
    }
    .owner-name{
        font-size: 18px;
        display:inline-flex ;
        position: fixed; 
        transform: translateX(-120%);    
    }
    .owner-name > h1> span{
      color:#ED553B;
      font-size: 20px;
      text-transform: uppercase;
  }
  
    
}


@media screen and (max-width:1200px){
   .nav-links{
       display: none;
   }
    
    .nav-link-item{
        margin-top:20px;
        font-size: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid;
    }
    .owner-name{
        font-size: 15px;
        position: fixed;
        transform: translateX(3%);
        float:left;  
    }
    .owner-name > h1> span{
        font-size: 20px;
    }
     .nav-links{
         margin-right: -900px;
         opacity: 0;
         position: absolute;
         flex-direction: column;
         list-style-type: none;
         grid-gap: 0px;
     }
    .nav-links.active {
         width: 50%; 
         background-color: slategrey;
         display: flex;  
         flex-direction: column; 
         height: 100vh;
         color:white;
         padding:0px 20px;
         right: 900px;
         opacity: 1;
         position: absolute;
         justify-content: center;
         align-items: center; 
    }
.closeIcon{
       display:visible;
       color:white;
       right: 45%;
       padding:10px 10px;
       top:5%;
       position: absolute;
       float:right;
       
   }
    }
    
    
    
    
    


 