.footer{

    height: 20px;
    
    bottom: 0;
    justify-content: center;
    background-color:#19456b;
    position: fixed;
    padding: 2rem  2rem ;
    width:100%;
    color:white;
    display:flex;
    flex-direction: column;
    text-align: center;
    overflow-x: visible;
    
    
}

small{
    text-align: center;
    justify-content: center;
}
